{% extends 'base.html' %}
{% load static %}
{% block title %} | Profesori {% endblock %}

{% block content %}

    <main class="main">

        {% include 'partials/search.html' %}

        <!-- List box with professors / subjects with options -->

            <div class="list-box">
            {% if professors %}
                {% for professor in professors %}
                    <div class="list-box-item">
                        <h1 class="list-box-item-title"><span class="list-box-item-title-name">{{ professor }}</span></h1>
                        <p class="list-box-item-desc list-box-item-calling">{{ professor.academic_title }}</p>
                        <p class="list-box-item-desc list-box-item-engagement">{{ professor.engagement }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h1>Nema dodanih profesora</h1>
            {% endif %}
            </div>

            <div class="pagination">
                <a class="pagination-item disabled" href="#">&larr;</a>
                <a class="pagination-item" href="#">1</a>
                <a class="pagination-item" href="#">2</a>
                <a class="pagination-item" href="#">3</a>
                <a class="pagination-item" href="#">&rarr;</a>
            </div>

    </main>

    <script src="{% static 'js/dashboard-professor.js' %}"></script>
{% endblock %}