{% extends 'base.html' %}
{% load static %}
{% block title %} | Profesori {% endblock %}

{% block content %}

    <main class="main">

        {% include 'partials/search.html' %}

        <!-- List box with professors / subjects with options -->

            <div class="list-box">
            {% include 'partials/_alerts.html' %}
            {% if obj_list %}
                {% for obj_list in obj_list %}
                    <div class="list-box-item">
                        <h1 class="list-box-item-title"><span class="list-box-item-title-name">{{ obj_list }}</span></h1>
                        <p class="list-box-item-desc list-box-item-calling">{{ obj_list.academic_title }}</p>
                        <p class="list-box-item-desc list-box-item-engagement">{{ obj_list.engagement }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h1>Nema dodanih profesora</h1>
            {% endif %}
            </div>

            {% include 'partials/pagination.html' %}

    </main>

    <script src="{% static 'js/dashboard-professor.js' %}"></script>
{% endblock %}