{% extends 'base.html' %}
{% block title %} Angažovanja {% endblock %}

{% block content %}
<h1 class="title">Angažovanja</h1>
{% include 'partials/_alerts.html' %}
    <form class="search-box" action="{% url 'engagement_search' %}" method='POST'>
        {% csrf_token %}
        <input class="search-box-input" type="text" name="Name" placeholder="Pretraga...">
        <input class="btn btn-search" type="submit" value="Pretraga">
        {% if perms.professors.add_engagement %}
        <a href="{% url 'engagement_add' %}" class="btn btn-add" id="btn-add-new-professor">Dodaj</a>
        {% endif %}
    </form>
    <div class="seperator">&nbsp;</div>
    {% if obj_list %}
    <div class="card">
        {% for obj in obj_list %}
            <a class="card-item" {% if perms.professors.view_engagement %} href="{% url 'single_engagement' obj.id %}" {% endif %}>
                <h1 class="card-item-title"><span class="card-item-title-name">{{ obj.name }}</span></h1>
            </a>
        {% endfor %}
    </div>
    {% endif %}
    {% include 'partials/pagination.html' %}
{% endblock %}