<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akademske titule</title>
</head>
<body>
<form action="{% url 'academic_title_search' %}" method='POST'>
    {% csrf_token %}
    <input type="text" name="Name" placeholder="Pretraga...">
    <button type="submit">Pretraga</button>
</form>
{% include 'partials/_alerts.html' %}
{% if obj_list %}
    {% for obj in obj_list %}
        <a href="{% url 'single_academic_title' obj.id %}">{{ obj.id }}. - {{ obj.name }}</a>
    {% endfor %}
{% endif %}
</body>
</html>