{% extends 'base.html' %}
{% block title %} Akademske titule {% endblock %}

{% block content %}
    <h1 class="title">Akademske titule</h1>
    {% include 'partials/_alerts.html' %}
    <form class="search-box" action="{% url 'academic_title_search' %}" method='POST'>
        {% csrf_token %}
        <input type="text" name="Name" id="search" class="search-box-input" placeholder="Pretraga...">
        <input type="submit" value="Pretraga" class="btn btn-search">
        {% if perms.professors.add_academictitle %}
        <a href="{% url 'academic_title_add' %}" class="btn btn-add" id="btn-add-new-professor">Dodaj</a>
        {% endif %}
    </form>
    <div class="seperator">&nbsp;</div>
    {% if obj_list %}
        <div class="card">
            {% for obj in obj_list %}
                <a class="card-item" {% if perms.professors.view_engagement %} href="{% url 'single_academic_title' obj.id %}" {% endif %}>
                    <h1 class="card-item-title"><span class="card-item-title-name">{{ obj.name }}</span></h1>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    {% include 'partials/pagination.html' %}
{% endblock %}
