{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kadrovska Evidencija | Prijava</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <main class="login">
        <form id="login-form" class="login-form" action="{{ request.path }}" method="POST">
          {% csrf_token %}
          <h1 class="login-form-title">PRIJAVA</h1>
          {% include 'partials/_alerts.html' %}
          <input name="username" type="text" id="login-username" placeholder="Korisničko ime" class="login-text login-form-username">
          <input name="password" type="password" id="login-password" placeholder="Šifra" class="login-text login-form-password">
          <input type="submit" id="login-btn" value="Prijava" class="login-form-submit-btn">
        </form>

    </main>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
