:root {
  --color-gradient-1: #5869FF;
  --color-gradient-2: #03A2CB;
  --color-blue-dark: #50ACF2;
  --color-blue-light: #6AD1FF;
  --color-background: #F5F6FA;
  --color-purple: #7544E9;
  --color-green-light: #44E9A1;
  --color-green-dark: #64946E;
  --color-red: #F2505B;
  --color-gray-light: #ECEDF2;
  --color-gray-dark: #9F9F9F;
  --color-white: #fff;
  --color-black: #000;
  --color-shadow: rgba(0,0,0,0.15);
}
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

