<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radni status</title>
</head>
<body>
<form action="{% url 'work_status_update' object.id %}" method="POST">
    {% csrf_token %}

    <label for="Name"></label>
    <input id="Name" type="text" value="{{ object.name }}" name="Name" required/>
    {% if perms.professors.change_workstatus %}
        <button type="submit" value="Save">Spremi promjene</button>
    {% endif %}
</form>

{% include 'partials/_alerts.html' %}

{% if perms.professors.delete_workstatus %}
    <form action="{% url 'work_status_delete' object.id %}" method='POST'>
    {% csrf_token %}
    <button type="submit" value="Delete">Obrisi radni status</button>
    </form>
{% endif %}
</body>
</html>