{% extends 'base.html' %}
{% block title %} Radni statusi {% endblock %}

{% block content %}
<h1 class="title">Radni statusi</h1>
<form class="search-box" action="{% url 'work_status_search' %}" method='POST'>
    {% csrf_token %}
    <input type="text" name="Name" placeholder="Pretraga...">
    <button type="submit">Pretraga</button>
</form>
{% include 'partials/_alerts.html' %}
{% if obj_list %}
    {% for obj in obj_list %}
        <a href="{% url 'single_work_status' obj.id %}">{{ obj.id }}: {{ obj.name }}</a>
    {% endfor %}
{% endif %}
</body>
</html>
