{% extends 'base.html' %}
{% load static %}
{% block title %} | Predmeti {% endblock %}

{% block content %}

    <main class="main">

        {% include 'partials/search.html' %}

        <!-- List box with professors / subjects with options -->

        <div class="list-box">
            {% if obj_list %}
                {% for obj_list in obj_list %}
                    <div class="list-box-item">
                        <h1 class="list-box-item-title"><span class="list-box-item-title-name">{{ obj_list }}</span></h1>
                        <p class="list-box-item-desc list-box-item-calling">ECTS: {{ obj_list.ects }}</p>
                        <p class="list-box-item-desc list-box-item-engagement">Tip predmeta: {{ obj_list.subject_type }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h1>Nema dodanih profesora</h1>
            {% endif %}
            </div>

            {% include 'partials/pagination.html' %}

    </main>
    <script src="{% static 'js/dashboard-subject.js' %}"></script>

{% endblock %}