{% extends 'base.html' %}
{% block title %} {% if object %} {{ object.name|capfirst }} {% else %} Zvanje {% endif %} {% endblock %}
{% block content %}
    <h1 class="title">Zvanja</h1>
    {% include 'partials/_alerts.html' %}
    <div class="form-group u-w-50">
        <h1 class="form-group-title">Ažuriranje zvanja</h1>
    <form action="{% url 'calling_update' object.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group-input-group-row">
            <div class="form-group-input-group">
                <label class="form-group-label" for="Name">Naziv</label>
                <input class="form-group-input" id="Name" type="text" value="{{ object.name }}" name="Name" required/>
            </div>
        </div>
        <div class="form-group-btn-group">
        {% if perms.professors.change_calling %}
            <input type="submit" class="btn form-group-btn-save" value="Sačuvaj promjene" />
        {% endif %}
    </form>

    {% if perms.professors.delete_calling %}
        <form class="form-delete" action="{% url 'calling_delete' object.id %}" method='POST'>
        {% csrf_token %}
        <input class="btn form-group-btn-delete" type="submit" value="Obriši" />
        </form>
    {% endif %}
</div>
{% endblock %}