<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/templates.css">
</head>
<body id="template">

    <nav class="navbar">
        <h1 class="navbar-title" name="Ime i prezime">Vesna Čičić</h1>
        <h3 class="navbar-subtitle" name="Uloga">Kadrovi - Referent</h3>
        <div class="navbar-navigation">
            <a href="../dashboard-profesor.html" class="navbar-navigation-item">PROFESORI</a>
            <a href="engagement.html" class="navbar-navigation-item navbar-navigation-subitem">ANGAŽOVANJA</a>
            <a href="work_statuses.html" class="navbar-navigation-item navbar-navigation-subitem navbar-navigation-item-active">RADNI STATUSI</a>
            <a href="academic_title.html" class="navbar-navigation-item navbar-navigation-subitem">AKADEMSKE TITULE</a>
            <a href="../dashboard-predmet.html" class="navbar-navigation-item">PREDMETI</a>
            <a href="index.html" class="navbar-navigation-item">ODJAVA</a>
        </div>
    </nav>

    <main class="main">
        <div class="template-aside">
            <h1 class="title">Radni status</h1>
            <a href="./work_status_add.html" class="btn btn-templates-add">Dodaj novi status</a>
        </div>
    
        <div class="list-box">
            <div class="list-box-item">
                <h1 class="list-box-item-title"><span class="list-box-item-title-name">Zoran Avramovic</span></h1>
                <a class="list-box-item-edit" href="./single_work_status.html">&#9998;</a>
            </div>
            <div class="list-box-item">
                <h1 class="list-box-item-title"><span class="list-box-item-title-name">Zoran Avramovic</span></h1>
                <a class="list-box-item-edit" href="./single_work_status.html">&#9998;</a>
            </div>
            <div class="list-box-item">
                <h1 class="list-box-item-title"><span class="list-box-item-title-name">Zoran Avramovic</span></h1>
                <a class="list-box-item-edit" href="./single_work_status.html">&#9998;</a>
            </div>
        </div>
    </main> 
</body>
</html>